<%= link "<- All posts", to: Routes.blog_path(@conn, :index)%>

<h1 class="post-view-title"><%= @post.title %></h1>
<time><%= @post.date %></time>

<div class = "tags" style = "margin-bottom: 5px">
    Tags: <%= for tag <- @post.tags do %><a class = "tag"><%=tag%></a> <% end %>
</div>

<div class = "post">
<%= raw @post.body %>
</div>
<%= link "<- All posts", to: Routes.blog_path(@conn, :index)%>
