<ul class="navigation_list">
    <li class="navigation_list_entry"><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
    <li class="navigation_list_entry"><%= link "Blog", to: Routes.blog_path(@conn, :index) %></li>
</ul>
