<ul class="navigation_list">
    <li class="navigation_list_entry"><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
    <li class="navigation_list_entry"><%= link "Blog", to: Routes.blog_path(@conn, :index) %></li>
    <li class="navigation_list_entry"><%= link "CV", to: Routes.cv_path(@conn, :index) %></li>
    <li class="navigation_list_entry"><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
</ul>
