.makeup .hll {background-color: #0000ff}
.makeup {background-color: #000000}.makeup .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.makeup .c {color: #00ff00; } /* :comment */
.makeup .c1 {color: #00ff00; } /* :comment_single */
.makeup .ch {color: #00ff00; } /* :comment_hashbang */
.makeup .cm {color: #00ff00; } /* :comment_multiline */
.makeup .cp {color: #e5e5e5; } /* :comment_preproc */
.makeup .cpf {color: #e5e5e5; } /* :comment_preproc_file */
.makeup .cs {color: #00ff00; } /* :comment_special */
.makeup .dl {color: #87ceeb; } /* :string_delimiter */
.makeup .fm {color: #ffff00; } /* :name_function_magic */
.makeup .k {color: #ff0000; } /* :keyword */
.makeup .kc {color: #ff0000; } /* :keyword_constant */
.makeup .kd {color: #ff0000; } /* :keyword_declaration */
.makeup .kn {color: #ff0000; } /* :keyword_namespace */
.makeup .kp {color: #ff0000; } /* :keyword_pseudo */
.makeup .kr {color: #ff0000; } /* :keyword_reserved */
.makeup .kt {color: #ee82ee; } /* :keyword_type */
.makeup .nf {color: #ffff00; } /* :name_function */
.makeup .no {color: #7fffd4; } /* :name_constant */
.makeup .nv {color: #eedd82; } /* :name_variable */
.makeup .s {color: #87ceeb; } /* :string */
.makeup .s1 {color: #87ceeb; } /* :string_single */
.makeup .s2 {color: #87ceeb; } /* :string_double */
.makeup .sa {color: #87ceeb; } /* :string_affix */
.makeup .sb {color: #87ceeb; } /* :string_backtick */
.makeup .sc {color: #87ceeb; } /* :string_char */
.makeup .sd {color: #87ceeb; } /* :string_doc */
.makeup .se {color: #87ceeb; } /* :string_escape */
.makeup .sh {color: #87ceeb; } /* :string_heredoc */
.makeup .si {color: #87ceeb; } /* :string_interpol */
.makeup .sr {color: #87ceeb; } /* :string_regex */
.makeup .ss {color: #87ceeb; } /* :string_symbol */
.makeup .sx {color: #87ceeb; } /* :string_other */
.makeup .sx {color: #87ceeb; } /* :string_sigil */
.makeup .vc {color: #eedd82; } /* :name_variable_class */
.makeup .vg {color: #eedd82; } /* :name_variable_global */
.makeup .vi {color: #eedd82; } /* :name_variable_instance */
.makeup .vm {color: #eedd82; } /* :name_variable_magic */
